.archive{
	text-align: center;
	.archive-copy p{
		margin: 20px 0 40px;
	}
}

.teammember-archive{
	.study-content{
		text-shadow: 0 0 10px #000;
		color: white;
		display: flex;
		.study-content-title{
			flex-direction: column;
		}
		
		h3{
			display: block;
			font-size: 2.3rem;
		}
		p{
			display:block;
		}
		.button{
			color: white;
			border: 1px solid white;
			min-width: 130px;
			padding:10px 0;
			margin-top: 15px;
			font-size: 1.4rem;
			box-shadow: 0 0 10px #000;
			text-shadow: 10 0 10px #000;
			font-weight: 600;
			&:hover, &:focus{
				text-shadow: 0 0 0 #000;
			}
		}
	}
 }

 .careers-archive{

 	li{
 		display:block;
 		width: 100%;
 		border-top: 1px solid $bordergrey;
 		background: $extralightgrey;
 		transition: all 0.5s;
 		a{
 			display: block;
 			width: 100%;
 			padding: 40px 0;
 			color:black;
 			font-weight: 700;
 			font-size: 2.0rem;
 		}
 	}
 	li:last-of-type{
 		border-bottom: 1px solid $bordergrey;
 	}
 	li:hover, li:focus{
 		background: $green;
 		a{
 			color: white;
 		}
 	}
 }

 // blog page
.blog-post{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 350px;
	a{
		color: white;
		&:hover{
			color: white;
		}
	}
	.study-content-title{
		align-items: flex-end;
	}
}

.has-no-thumb:nth-child(2n){
	background-color: $green;
}

.has-no-thumb:nth-child(2n-1){
	background-color: $lightgrey;
}


	