footer {
	clear: both;
	z-index: 10;
	position: relative;
}

.clocks-container{
	background-color: $mediumgrey;
}

.clock h2{
	color: $lightgrey;
	margin-top: 30px;
	font-size: 200%;
	text-transform: uppercase;
	font-weight: 600;
}

.footer{
	.foot-item{
		background: #191919;
		text-align: center;
		color: $lightgrey;
		border-top: 1px solid #505050;
		border-bottom: 1px solid #505050;
		padding:30px 0;
		transition: all 0.5s;
		.contact{
			font-size: 440%;
			font-family: $bask;
			color: $lightgrey;
		}
		.fa{
			font-size: 30px;
			color: white;
		}

		.signup{
			color: $lightgrey;
			font-size: 400%;
			transition: all 0.5s;
			font-family: $bask;
		}
	}
} 

.footer .foot-item.contact:hover, .footer .foot-item.contact:focus {
	background: $green;
	.contact{
		color: white;
	}
} 

.footer .foot-item.signup:hover > .signup,  .footer .foot-item.signup:focus > .signup {
	color: $green;
}
.social-links a.fa:hover{
	color: $green;
}

.social-links{
	a{
		display: inline-block;
		margin: 0 30px;
	}
} 
.footer .foot-item.copyright{
	background: white;
	color: #4e4e4e;
	.hjc{
		color:#4e4e4e;
	}
} 
 .footer .foot-item.signup:focus, .footer .foot-item.signup:hover{
	color: $green;
	background: white;
}

 