.front-head{
	background-attachment: fixed; 
	background-repeat:no-repeat;
	background-position: center;
	background-size:cover;
	text-align: center;
	color: white;
	h1{
		font-weight: 100;
		font-size: 570%;

	}
	h2{
		font-size: 300%;
		font-weight: 100;
		color: #959494;
		padding: 40px 0;
	}
	.button{
		display: inline-block;
		width: 205px;
		padding: 30px 0;
		border: 1px solid white;
		color: white;
		text-transform: uppercase;
		font-size: 140%;
		&:hover{
			background: $green;
		}
	}
	.project{
		margin-left: 25px;
	}
} 

.typed p{
	display: inline;
}

.front-head-content{
	padding: 200px 0 120px;
}

.logobar{
	text-align: left;
	padding: 10px 0;
	position: fixed;
	width: 100%;
	z-index: 100;
}

.middle{
	margin-left: 20px;
	position: relative;
	 top: 50%;
	 transform: translateY(-140%);
}


.logobar.dark{
	background: $darkgrey;
}

.top-section{
	   border-bottom: 1px solid #d6d6d6;
	   text-align: center;
	   padding-bottom: 60px;
}

// .typed-cursor{
//     opacity: 1;
//     -webkit-animation: blink 0.7s infinite;
//     -moz-animation: blink 0.7s infinite;
//     animation: blink 0.7s infinite;
// }
// @keyframes blink{
//     0% { opacity:1; }
//     50% { opacity:0; }
//     100% { opacity:1; }
// }
// @-webkit-keyframes blink{
//     0% { opacity:1; }
//     50% { opacity:0; }
//     100% { opacity:1; }
// }
// @-moz-keyframes blink{
//     0% { opacity:1; }
//     50% { opacity:0; }
//     100% { opacity:1; }
// }