// ==========Responsive styling =========

@media all and (max-width: 1300px){
	body{
		font-size: 8.5px;
	}

	.study-content{
		padding: 20px 2.5px;
	}

	// ===========make our team section 50/50 ===================
	.team .meet{
		width: 50%;
	}

	.right .button{
		min-width: 200px;
		padding: 20px 0;
	}
} 

@media all and (max-width: 1110px){
		.study-content-title .fa, .arrow-direction.fa, .benefit:before{
			font-size: 199%;
			line-height: 1.7em;
			width: 2.1em;

		}

		.single-casestudies .left{
			margin-right: 30px;
		}
}

@media all and (max-width: 1000px){
	// ===========make squares 50% ===================
		.square{
			width: 50%;
		}
		.study-content{
			padding: 35px;
		}

		.study-content{
			display: flex;
		}
	// =========== edit quote section ===================
		.quotes blockquote::before{
			width: 80px;
			height: 150px;
			background-size: 100% 100%;
		}

}

@media all and (max-width: 910px){
	.carousel{
		width: 34%;
	}

	.weDo .right{
		width: 60%;
	}
	.storytelling-why .story-why-item{
		margin-right: 30px;
	}
}

@media all and (max-width: 780px){
	.quotes blockquote::before{
		margin-right: 25px;
		width: 90px;
		height: 90px;
	}

	.specialties li{
		    font-size: 300%;
	}

	.team .meet .button{
		min-width: auto;
	}

	.clock-circle{
		width: 145px;
		height: 145px;
	}
	.clock-minute:after{
		border-bottom: 	60px solid #a4a4a4;
	}
	.storytelling-why .story-why-item{
		flex: 1 1 100%;
		margin: 50px 0;
	}

}


@media all and (max-width: 670px){ 
	.study-content{
		padding: 15px 5px;
	}

	.middle{
		display: none;
	}
	.front-head .button{
		min-width:180px;
		width: auto;
	}

	.front-head .project{
		margin-left: 15px;
	}
	.front-head h1{
		font-size: 	5rem;
	}
	.carousel, .weDo .right{
		width: 100%;
	}
	.specialties, .weDo .right{
		text-align: center;
	}

	.carousel-cell{
		height: 350px;	
	}
	.team .meet{
		width:70%;
		padding: 80px 20px;
	}

	.single-casestudies .right, .single-casestudies .left{
		width: 100%;
		float: none;
	}
	.single-casestudies .left{
		margin-right: 0;
	}
	.right .button{
		width: 100%;
		min-width: auto;
	}
	.case-buttons{
		text-align: center;
	}

	.single-casestudies .approach-button{
		margin-left: 2.5%;
	}

	.button{
		font-size: 14px;
	}
	.right .button.contact-us{
		width: 100%;
	}
	.case-buttons{
		margin-top: 30px;
	}

}



@media all and (max-width: 520px){
	body{
		font-size: 	8px;
	}
	.quotes blockquote::before{
		width: 90px;
		height: 60px;
	}

	.clock-minute:after{
		border-bottom:50px solid #a4a4a4;
	}
	.button{
		padding: 20px 15px;
	}

	.clocks.container{
		display: block;
	}
	.clock-contain {
	    width: 100%;
	}
	.clock{
		margin-bottom: 30px;
	}

	.footer .foot-item .signup{
		font-size: 	3.7rem;
	}

	h1{
		font-size: 3.5rem;
	}

	.front-head .button{

	}



}

@media all and (max-width: 480px){
	// ===========make squares 100% ===================
		.square{
			width: 100%;
		}
		.study-content{
			padding:35px;
		}

		.front-head h1{
			font-size: 4.4rem;
		}
		.team .meet{
			width: 80%;
		}

		.front-head .button{
			display: block;
		}

		.front-head .project{
			margin-left: 0;
			margin-top: 25px;
		}

		.front-head-content{
			padding: 180px 0 120px
		}
}

@media all and (max-width: 350px){
	.front-head .button{
		width: 100%;
	}
	.front-head .button{
		margin-left: 0;
		margin-top: 20px;
	}

	.front-head h1{
		font-size: 	4.1rem;
	}
	.front-head h2{
		font-size: 	2.7rem;
	}
}


