// services 

.services-archive{
	.left{
		width: calc(40% - 85px);
		margin-right: 85px;
		text-align: left;
		li{
			background: $extralightgrey;
			padding: 15px 20px;
			border: 1px solid $bordergrey;
			border-bottom: none;
		}
		li:last-of-type{
			border-bottom:  1px solid $bordergrey;
		}
		.active{
			background: $green;
			color: white
		}
	}
	.right{
		width: 60%;
		text-align: left;
	}
	h2{
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 700;
	}
	.services-top-section{
		border-bottom: 1px solid $bordergrey;
		p{
			margin-bottom: 60px;
		}

	}
	h1{
		margin-bottom: 40px;
	}
	h3{
		font-size: 30px; 
		font-weight: 700;
		margin-bottom: 20px;
		font-family: $open;
	}
	p{
		line-height: 1.8;
		font-size: 18px;
	}
	.benefit:before{
		content: "\f00c";
		font-family: FontAwesome;
		margin: 0 20px 20px 0;
		font-size: 15px;
		width: 1.7em;
	}
	h4{
		font-size: 20px;
		margin: 40px 0;
	}
	.services-desc-section{
		min-height: 800px;
	}
}