// single archive page
.approach, .result, .quotes{
	clear: both;
	color: white;
}

.top.section{
	padding-top:40px;
}

.arrow-direction{
	margin-bottom: 20px;
}



.approach{
	background-color: $darkgrey;
	a{
		color: $lightgrey;
		text-align: center;
		p{
			margin-top: -100px;
			color: $lightgrey;
			text-align: center;
			text-transform: uppercase;
			font-size: 12px;
		}
		&:hover{
			color: $lightgrey;
		}
	}
}

.result{
	background: $mediumgrey;
	.right{
		color:#6c909c; 
		font-size: 14px;
		text-transform: uppercase;
		text-align: center;
		span{
			font-size: 100px;
			font-weight: 700;
		}
	}
}

.single-casestudies{
	.single-image{
		display:block;
	}
	h1{
		text-align: center;
		margin-bottom: 50px;
	}
	h2{
		color: $green;
		font-size: 50px;
		font-family: $bask;
		margin-bottom: 20px;
	}
	h3{
	font-size: 16px;
	}

	.left{
		width:83%;
		width: calc(80% - 100px);
		margin-right: 100px;
		float: left;
		p{
			line-height: 1.8;
		}
	}
	.right{
		width: 20%;
		float: left;
	}
	.project-info:nth-of-type(2){
		margin: 30px 0;
	}
	.approach-button{
		margin: 15px 0;
	}
}

// single team member page

.social-bar{
	text-align: left;
	margin-top: 30px;
	.social{
		float: right; 
		a.fa{
			color: white;
			background: $lightgrey; 
			width:1.7em;
			line-height: 1.7em;
			text-align: center;
			border-radius: 50%;
			font-size: 26px;
			display: inline-block;
			margin-right: 15px;
		}
	}
} 

.single-team-member{
	text-align: center;
	h2{
		text-transform: uppercase;
		font-size: 20px;
		font-weight: 600;
	}
	
	.team-member-image{
		img{
			max-width:420px;
			max-height:420px;
			border-radius: 50%;
			border: 3px solid $green;
			margin: 40px 0; 
		}
	}
	.history{
		padding-bottom: 60px;
	}
}

.interesting-things{
	background: #f8f8f8;
	border-top: 1px solid #b9b9b9;
	padding: 40px 0;
	.interesting{
		float: left;
		width: 33.33%;
		padding: 0 100px;
	}
	.interesting:nth-of-type(2){
		border-right: 1px solid #b9b9b9;
		border-left: 1px solid #b9b9b9; 
	}
	i.fa{
	color: $green;
	font-size: 50px;
	display:block;
	margin-bottom: 20px;
	}
	h3, p{
		font-size: 15px;
	}
}